/* index + main-down style */

div, td, tr, img, a { box-sizing : border-box;}
/* index(main)의 윗부분(carousel) style*/ 

/* 입양/분양 carousel 부분 div */
.main-up {
    position : relative;
    width : 100%;
    height : 400px;
    background-color: teal;
    
}
/* carousel 안의 wrapper div 크기 */
.main-up .carousel-inner {
   width : 100%;
   height : 100%;
   text-align: center;
}
/* 입양/분양 메인 게시글 div */
.main-adopt-div {
   display : inline-block;
   width : 300px;
   height : 300px;
   margin-top : 40px;
   margin-left : 2px;
   margin-right : 2px;
   background-color : #CEFBC9;
   
   /* 이미지 크기 조정을 위한 속성 */
   overflow : hidden;
   position: relative;
}
.main-adopt-div:hover{
	cursor : pointer;
}
/* 입양/분양 메인 게시글 썸네일 크기지정 */
.main-adopt-div > img {
	/*img 태그: 사진 가운데에 오게 하기! 세로는 div 크기 만큼만 보이게 하기*/
	position: absolute;
	min-width : 150%;
	top: 50%;
	left: 50%;
	transform : translate(-50%, -50%);
}

/* 입양 분양 메인 글 이미지 alt 폰트 지정 */
.adoptThumb{
	font : 20px/40px "TmoneyRoundWindRegular";/*style size/height family*/
}

/* carousel 밑의 페이지 표시 아이콘 */
.carousel-indicators{
   position : absolute;
   top : 360px;
}

/* 입양/분양 메인 게시글이 없을 때 */
.noneAdopt{
		font : 30px/260px "TmoneyRoundWindRegular";/*style size/height family*/
		color : white;
		text-align : center;
		width : 100%;
		height : 300px;
		margin-top : 40px;
}


/* ------------------------------------------------------------- */
/* main-down(메인의 밑부분) style */
/* <공통> */
.main-down { 
	width : 100%; 
}

.main-left, .main-right {
    width : 48%;
    height: 600px;
    margin-top : 50px;
    float : left; 
}

/*게시판 색상 div*/
#main-notice .main-label,
#main-review .main-label { 
    background-color: teal;
    padding : 0;
}

.main-label:nth-of-type(1) { width : 70%; text-align: left;}
.main-label:nth-of-type(2) { width : 20%; }
.main-label:nth-of-type(3) { width : 10%; text-align: right;}



.main-title{ /*게시판 이름 div*/
    font : 20px/40px "TmoneyRoundWindRegular";/*style size/height family*/
    color : rgb(250, 255, 250);
    margin-left : 10px;
}
.main-href > span { /* + 버튼*/
    display : inline-block;
    width : 30px;
    height : 30px;
    background-color: rgb(250, 255, 250);
    text-align: center;
    font : bold 30px/20px "맑은 고딕";
    color : rgb(51,51,51);
    border-radius : 20%;
    margin-top : 5px;
    margin-right : 5px;
}

.empty-main {
    width : 100%;
    height: 80px; 
    text-align: center; 
    line-height:50px;
}


/* <공지사항 박스(왼)> */

/*공지사항 박스 table*/
#main-notice {
    box-sizing: border-box;
    width : 80%;
    float : right;     
}
#main-notice :hover{
    cursor : pointer;
}

/* 공지사항 td */
#main-notice td {
	 height : 60px;
}

/*공지사항의 제목 td*/
#main-notice .notice-title{
    width : 70%;
    font : bold 17px/20px "TmoneyRoundWindRegular";
   	line-height : 35px;
}
/*공지사항의 날짜 td*/
#main-notice .notice-date {
    width : 30%;
    font-size : 14px;
    color : gray;
    text-align : right;
    line-height : 35px;
}

/* <입양 후기 박스(오)> */
/* 입양 후기 박스 table */
#main-review {
    box-sizing: border-box;
    width : 80%;
    float : left;
}
#main-review :hover{
    cursor : pointer;
}
/* 입양 후기 번호 td */
/* #main-review .review-no {
    width : 5%;
    height : 100px;
} */
/* 입양 후기 카드 td*/
#main-review .review-card {
    width : 100%;
    height : 100px;
    padding : 0px;
}

/* 입양 후기 카드 div*/
.review-card .card{
    width : 100%;
    height : 100px;
    margin : 0 auto !important;
    border-color: transparent;
    padding : 10px;
}
/* 입양 후기 카드 섬네일 div */
.review-card .review-thumb{
    box-sizing : border-box;
    width: 140px;
    height : 100%;
    
    /* img 크기 조정을 위해 필요한 속성 */
    position: relative;
    overflow: hidden;
}

.review-thumb img {
	/*img 태그: 사진 가운데에 오게 하기!*/
	position: absolute;
	height : 100%;
	top: 50%;
	left: 50%;
	transform : translate(-50%, -50%);
}
/* 입양 후기 카드 바디(텍스트) */
.review-card .review-text {
    padding-top: 10px;
    width : 60%;
    padding : 10px;
}
/* 입양 후기 카드 바디 내 제목 */
.review-card .card-title {
    font : bold 17px/20px "TmoneyRoundWindRegular";
    height: 50px;
    margin:0;
    padding-bottom: 5px;
}
/* 입양 후기 카드 바디 내 입양 날짜 */
.review-card .card-date {
    width : 100%;
    font-size : 14px;
    margin : 0;
    color : gray;
}

/* -------------------------------------------------------------------------- */

/* index(main) + main-down 반응형 @media */
/* 990px 이하일 경우 스타일 지정 */
@media screen and (max-width : 992px){
	
	/* main-up 메인 윗부분 */
	/* 입양/분양 carousel 부분 div */
	.main-up {
    position : relative;
    width : 80%;
    height : 1000px;
    background-color: teal;
    
	}
	/* carousel 안의 wrapper div 크기 */
	.main-up .carousel-inner {
  	width : 320px;
   	height : 100%;
   	margin : 0 auto;
	}
	
	/* 입양/분양 메인 게시글 div 3개 wrapper */
	.main-adopt{
		margin-top : 25px;
	}
	
	/* 입양/분양 메인 게시글 div */
  .main-adopt-div {
   	display : block;
   	width : 300px;
   	height : 300px;
  	padding-top : 0;
  	margin-top : 5px;
	}  	

	/* carousel 밑의 페이지 표시 아이콘 */	
	.carousel-indicators{
  	position : absolute;
 	  top : 960px;
	}
	
	.noneAdopt{
		font : 26px/800px "TmoneyRoundWindRegular";/*style size/height family*/
		color : white;
		text-align : center;
		width : 100%;
		height : 80%;
		margin-top : 40px;
}
	
	
	/* ----------------------------------- */
	/* 메인 아래 */
	
	/* main-down(메인의 밑부분) style */
	/* <공통> */
	.main-left, .main-right {
    width : 80% !important;
    height: 400px;
    margin : 50px 10%;
    padding : 0;
    clear : left;
    
	}

	/* <공지사항 박스(왼)> */
	/*공지사항 박스 table*/
	#main-notice {
    box-sizing: border-box;
    width : 100%;
    margin : 0 auto;
    
	}	

	/* <입양 후기 박스(오)> */
	/* 입양 후기 박스 table */
	#main-review {
    width : 100%;
    margin : 0 auto;
    clear : left;
	}
}


